---
layout: default
---

{% assign favorite_posts = site.posts | where: "tag", "favorite" %}

<section>
  <header class="mb-8">
    <h1 class="text-2xl lg:text-3xl mb-8">My words</h1>
    <span>I don't write much but when I do it'll show up here.</span>
  </header>

  <h2 class="text-xl mb-2">My Favorites</h1>
  <ol class="list-disc list-inside ml-2 mb-8">
    {% for post in favorite_posts %}
      <li class="mb-4">
        <p class="inline"><a href="{{ post.url }}" class="link">{{ post.title }}</a> <span class="text-sm">({{ post.date| date: "%Y-%m-%d" }})</span></p>
      </li>
    {% endfor %}
  </ol>

  <h2 class="text-xl mb-2">Everything</h1>
  <ol class="list-disc list-inside ml-2">
    {% for post in site.posts %}
      <li class="mb-4">
        <p class="inline"><a href="{{ post.url }}" class="link">{{ post.title }}</a> <span class="text-sm">({{ post.date| date: "%Y-%m-%d" }})</span></p>
      </li>
    {% endfor %}
  </ol>
</section>
