{{ define "main" }}
  <main aria-role="main">
    <header class="mb-10 mt-20">
      <a href="{{ .Site.BaseURL }}" class="flex flex-col items-center hover:border-none" style="border: 0;">
        <picture>
          <source srcset="/photo.jp2" type="image/jp2">
          <img src="/photo.jpg" class="w-12 h-12 rounded mb-2" width="48" height="48" alt="A photo of Stephen Meriwether" />
        </picture>
        <p class="uppercase text-gray-500 text-base tracking-widest dark:text-gray-400">Stephen Meriwether</p>
      </a>
    </header>

    <section class="text-center mb-10">
      <span class="text-sm text-gray-500 dark:text-gray-400">{{ .PublishDate.Format "January 2, 2006" }}</span>

      <h1 class="text-4xl md:text-5xl font-bold">{{ .Title }}</h1>
    </section>

    <section id="content" class="text-lg mb-10">
      {{ .Content }}
    </section>
  </main>

  <footer class="mb-20 flex items-center justify-center">
    {{ partial "subscribe.html" . }}
  </footer>
{{ end }}
