<title>{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Params.title }}{{ end }}</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Params.title }}{{ end }}" />
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}photo.jpg" />
<meta property="twitter:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Params.title }}{{ end }}" />
<meta property="twitter:creator" content="@_smeriwether" />
<meta property="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="twitter:image" content="https://merimerimeri.com/photo.jpg" />
<meta name="twitter:card" content="summary" />
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="apple-touch-icon.jpg" sizes="180x180">

{{ $styles := resources.Get "css/main.css" | resources.PostCSS }}
{{ if (eq (getenv "NODE_ENV") "production") }}
  {{ $styles = $styles | minify | fingerprint | resources.PostProcess }}
{{ end }}

<link rel="stylesheet" type="text/css" href="{{$styles.Permalink}}">
