{{ define "main" }}
  <section class="mb-12 mt-12">
    <header>
      <h1 class="font-bold text-3xl text-indigo-600 mb-2">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </h1>

      <p>
        Hi, I'm Stephen Meriwether. This is my website where I write about technology and my life.
      </p>
    </header>
  </section>

  <section class="mb-12">
    <p>
      You've entered a room that doesn't exist. Don't worry, finding your way back is easy, just
      click <a href="{{ .Site.BaseURL }}">here</a>.
    </p>
  </section>

  <section class="mb-12">
    <p>
      Thanks for stopping by!
    </p>
  </section>
{{ end }}
