{{ define "main" }}
  <main aria-role="main">
    <section class="mb-12 mt-12">
      <header id="content">
        <h1 class="font-bold text-3xl text-indigo-600 mb-2 dark:text-indigo-300">{{ .Site.Title }}</h1>
        {{ .Content }}
      </header>
    </section>

    <section class="flex justify-center items-center mb-12">
      {{ partial "subscribe.html" . }}
    </section>

    <section class="mb-12" >
      {{ range ( where site.RegularPages "Section" "blog" ) }}
        <article class="rounded-lg border border-gray-200 shadow mb-6 group dark:border-gray-500">
          <a href="{{ .Permalink }}" class="p-6 flex flex-col justify-center text-center md:p-8">
            <header class="mb-5">
              <span class="text-sm text-gray-500 dark:text-gray-400">{{ .Date.Format "January 2, 2006" }}</span>
              <h2 class="font-bold text-2xl md:text-3xl">{{ .Title }}</h2>
            </header>
            <p class="text-left mb-8">
              {{ .Summary }}
            </p>

            <div>
              <span class="inline-block rounded-full py-2 px-4 text-gray-600 border border-gray-300 text-sm font-bold group-hover:bg-indigo-600 group-hover:text-white dark:text-gray-300 dark:border-gray-500">
                Read more
              </span>
            </div>
          </a>
        </article>
      {{ end }}
    </section>
  </main>
{{ end }}
