<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body class="w-full mx-auto sm:w-700px lg:w-995px bg-gray-50 text-gray-900">
    <main class="p-8 lg:py-18">
        {{ content }}
    </main>
  </body>

  <script>
    var today = new Date();
    var weekdays = [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ];

    console.log(`
      Hi 👋. Welcome to my personal website.

      If you're wondering how I built this site, I have good news, it's open source! Take a look at
      the site on Github here: https://github.com/smeriwether/merimerimeri.com.

      Enjoy the rest of your ${weekdays[today.getDay()]}.
   `);
  </script>
</html>

