<!doctype html>
<html lang="en">

  <head>
    {% include head.html %}
  </head>

  <body class="py-16 px-8 max-w-[650px] mx-auto text-neutral-800 font-serif leading-7">
    <main class="mt-0 md:mt-16">{{ content }}</main>
  </body>

  <script>
    var today = new Date();
    var weekdays = [
      "Sunday",
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
    ];

    console.log(`
      Hi 👋. Welcome to my personal website.

      If you're wondering how I built this site, I have good news, it's open source! Take a look at
      the site on Github here: https://github.com/smeriwether/merimerimeri.com.

      Enjoy the rest of your ${weekdays[today.getDay()]}.
   `);
  </script>

</html>
