<section class="mb-12 mt-12">
  <header>
    <h1 class="font-bold text-3xl text-indigo-600 mb-2">
      <a href="index.html">merimerimeri.com</a>
    </h1>
    <p>
      Hi 👋, I'm Stephen Meriwether. This is my blog where I write about technology and the internet.
    </p>
  </header>
</section>

<section class="mb-12">
  <p>
    You've entered a room that doesn't exist. Don't worry, finding your way back is easy, just
    click <a href="index.html" class="link">here</a>.
  </p>
</section>

<section class="mb-12">
  <p>
    Thanks for stopping by!
  </p>
</section>
